doctype html
html
  head
    title Deliver Us
    link(rel='stylesheet', href='/home_style.css')
    script(src='https://code.jquery.com/jquery-3.1.1.min.js')
    script(src='/jquery-ui-1.12.1/jquery-ui.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/home.js')
  body
    .container
      #menu
        button(type='button') My Orders
        button(type='button') My Deliveries
        #phonenumber
          button(type='button', onclick='changePhoneNumber()') Set/Change Phone Number
      #content
        button(type='button', id='order', onclick='displayMenu()') I want to order something
        button(type='button', id='delivery', onclick='displayForum()') I want to deliver something

